@import url(http://fonts.googleapis.com/css?family=Adamina);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body {
    display: block;
    margin: 0px 30px;
}
/*---------------------------------------------------------------------------------------------
header styling
----------------------------------------------------------------------------------------------*/

header {    
    padding: 32px;
}
main {
    font-family: 'Lato', sans-serif;
}
#logo {
    display: flex;
    justify-content: center;
    margin: auto auto 2rem auto;
}
#logo img{
    display: block;
    margin: auto;
    width: clamp(140px,25%,200px);
}
.navbar{
    font-family: 'Adamina', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #777;
    border-top: 1px solid #777;
    text-decoration: none;
}
.navbar a{
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    font-size: 1.2em;   
    color: black;
}

.navbar a:hover{
    opacity: 0.7;
}

#cart-icon {
    width: 50px
}
/*-----------------------------------------------------
Register form
-----------------------------------------------------*/
.container {
    font-family: 'Lato', sans-serif;
    padding: 16px;
}

* {
    box-sizing: border-box;
}

img {
    width: 150px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px;
    display: inline-block;
    border: none;
}

/*Login and register button*/
button {
    background-color: cadetblue;
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
    text-align: center;
    display: inline-block;
}

/*---------------
Error messages
---------------*/
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*{
    font-family: 'lato', sans-serif;
}
body {
    display: block;
    margin: 30px;
}
#form {
    margin: 20px;
}
input[type='text'],input[type='password'] {
    width: 100%; 
	padding: 12px;
	border: 1px solid #cccccc; 
	border-radius: 2px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px;
}
.form-text label {
    font-weight: bold;
    font-size: 17px;
}
div p {
    position: relative;
    font-size: 12px;
    color: red;
}